.itemdetailcontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;    
    width: 100%;
    height: 32rem;   
    padding-top: 1rem;
}

.itemdetailcontainer img{
    width: 30rem;
    height: 30rem;
}

.itemDescription{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30rem;
    height: 30rem;
    border: solid;
    border-radius: 2rem;
    border-color: #57382c;
    color: #774E24;
}

.itemdetailcontainer h1{
    font-size: 3rem;
    margin-bottom: 1rem;
}

.itemdetailcontainer p{
    font-size: 1.5rem;
    color: #774E24;

}