.contenedor {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin-right: 1rem;
    text-decoration: none;
}

img {
    background-color: #e0ae79;
    border-radius: 2rem;
    padding: 0.5rem;
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
}

p {
    font-size: 2rem;
    color: #e0ae79;
    margin-left: -0.5rem;
}