.itemlistcontainer{
    padding: 0.5rem;
    display: flex;
    flex-direction: row;

}

.itemlistcontainer .item{
    height: 15rem;
    width: 15rem;
    display: flex;
    padding: 0.5rem;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    margin: 1rem;
    border: solid #57382c;
    border-radius: 1rem;
}

.itemlistcontainer .item p{
    font-size: 1rem;
    color: #57382c;
    display: flex;
    width: auto;
}

.itemlistcontainer .item .img{
    padding: 0;
    width: 6rem;
    height: 6rem;
    margin: 1rem;
}

.linkItem{
    margin-top: 1rem;
    text-decoration: none;
    color: #20140f;
  }