.filterProducts{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.filter{
    display: flex;
    align-items: center;
    margin-top: 1.6rem;
    margin-left: 1rem;
    width: 20rem;
    height: 2rem;
    
}


.filterInput{
    width: 100%;
    height: 100%;
    padding-left: 0.7rem;
    margin-left: -1rem;
    color: #57382c;
    border: solid #57382c;
    border-radius: 1rem;
    background-color:  #e0ae79;
    outline: none;
}

.filterInput::placeholder{
    color: #57382c;
}

.lupita{
    background-color: #e0ae79;
}