nav{
    background-color: #57382c;
    display: flex;
    justify-content: space-between;
    height: 4.375rem;
    align-content: center;
    align-items: center;
    border-radius: 2.5rem;
    padding: 0.5rem;
  }
    
  .marcaEIcono{
    font-size: 2rem;
    display: flex;
    align-items: center;
    height: 4.375rem;
    padding: 1rem;
    text-decoration: none;
    color: #e0ae79;
  }
  
  .seccionesNav{
    display: flex;
  }

  .link{
    width: 7rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    list-style: none;
    font-size: 1.2rem;
    text-decoration: none;
    color: #e0ae79; 
    text-decoration: none; 
    border-radius: 2rem;

  }

  .link:hover{
    background-color: #e0ae79;
    transition-duration: 0.4s;
    color: #3f1c0b;
  }



